.navbar-myprojects{
    height: 60px;
    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        list-style-type: none;
        li{ 
            margin-right: 40px;
            a{
                transition-property: all;
                transition-duration: 700ms;
                text-decoration: none;
                color: $wht;
                font-weight: bold;
                font-size: 22px;
                &:hover{
                    color: $hover-color;
                }
                &:active{
                    color: $org;
                }
            }
        }
    }
}

.section-myprojects{  
    .h2-myprojects{
        margin-top: 200px;
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 400;
        text-align: center;
    }
    .img-myprojects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        
        a{
            &:hover{             
                opacity: 0.3;
                transition: all 0.5s;
            }
         
        
        
    .i-myproject{
        width: 670px;
        margin-bottom: 20px;  
        border-bottom: $org solid 5px;       
            } 
        }    
    }
}


.footer-myprojects{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        right: left;
        li{
            display: flex;
            margin-right: 15px;
            margin-bottom: 15px; 
            margin-left: 40px;
                   
             a{
                transition-property: all;
                transition-duration: 700ms;
                color: $wht;
                &:hover{
                    color: $org;
                }
                &:active{
                    color: $org;
                }
               
            .fa-brands{  
                font-size: 30px;
                }
            }     
         } 
     
    }
    .copy{
        display: flex;
        align-items: center;
        justify-content: center;       
        font-size: 18px;
        position: fixed;
        bottom: 1.5rem;
        right: 3rem;
        transform: rotate(90deg) translate(-3rem, -5rem);
    }

}